<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Confirm Registration
        link(rel="stylesheet", href="/css/login.css")
        link(href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet')
    body
        .bg
        .bg.bg2
        .bg.bg3
        .wrapper
            .emailContainer
                img.email(src="/img/message.gif", alt="Email Sent")
                p.emailText #{status}
                    

        script.
            if (window.history.replaceState)
                window.history.replaceState(null, null, window.location.href)