extends layouts/login-layout.pug

block content 
    .bg
    .bg.bg2
    .bg.bg3
    .loginContainer
        h2 Login 
        form(method="post") 
            p.errorMessage #{errorMessage}
            //-input(type="text", name="logUserName",placeholder="Username or Email" ,value=logUserName required="")
            //-input(type="password", name="logPassword",placeholder="Password" , required="")
            
            input(type="text", name="logUserName",placeholder="Username or Email" ,value="vivekbisht" required="")
            input(type="password", name="logPassword",placeholder="Password" , value="password" required="")
            input(type="submit", value="Sign In")
        a(href="/register") Need an account? Register here. 