<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Password Reset
        link(rel="stylesheet", href="/css/login.css")
    body
        .bg
        .bg.bg2
        .bg.bg3
        .wrapper
            .loginContainer
                - status = statusMessage
                if status == "Broken link"
                    h2 This link is either invalid or expired
                    p
                        a(href="login") Go back
                else
                    div Hi, #{name} 
                    p Please enter your new password
                    br
                    form(method="post")
                        input(type="password", name="password", placeholder="Password", required="")
                        input(type="password", name="passwordConf", placeholder="Confirm password", required="") 
                        input(type="submit", value="Send")
                    p
                        a(href="login") Go back
                    p #{statusMessage}
        script.
            if (window.history.replaceState)
                window.history.replaceState(null, null, window.location.href)