@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
    background-color:#27292A;
}

.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #27292A 50%, gray 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }

  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }

.wrapper{
    display:flex;
    justify-content:center;
    margin-top: 6%;
} 

.loginContainer{
    padding:20px;
    width:80%;
    max-width: 500px;
    border: 1px solid #fff;
    border-radius: 8px;
    background-color: #fff;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    font-family: 'Open Sans', sans-serif;
   
}

form{
    display:flex;
    flex-direction: column;
    padding-left: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"]{
margin-bottom: 12px;
padding: 5px 10px;
border-radius: 5px;
border: 1px solid gray;
font-size: 14px;
}

input[type="submit"]{
    margin-bottom: 10px;
    background-color: rgb(64, 63, 63);
    color: #fff;
    border: 1px solid  rgb(64,63,63);
    border-radius: 5px;
    padding: 5px 10px;
}

a{
    font-size: 14px;
    text-decoration: none;
}

.logoWelcome{
  height: 100px;
  width: 120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  opacity: 0.8;
  height: 35px;
  padding: 8px;
  font-size: 12px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}