@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
:root {
    --red: #E5202B;
    --buttonHoverBg: #eeeeef;
    --lightGrey: rgb(211, 214, 215);
    --spacing: 15px;
    --greyText: rgb(101, 119, 134);
    --greyButtonText: rgba(0,0,0,0.34);
}

*{
outline: none !important;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
}

a:active{
    color:var(--red)
}

h1 {
    font-size: 16px;
    font-weight: 800;
    margin: 0;
    font-family: 'Comfortaa', cursive;  
}

nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
    color:var(--red);

}

nav a {
    padding: 10px;
    font-size: 25px;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a.red {
    color: var(--red);
}

nav a:hover {
    background-color: var(--buttonHoverBg);
    color: black;
    border-radius: 50%;
}

button{
    background-color: transparent;
    border: none;
    color:black;
}

button i,
button span{
    pointer-events: none;
}

.mainSectionContainer {
    padding:  0;
    border-left: 1px solid var(--lightGrey);
    border-right: 1px solid var(--lightGrey);
    display: flex;
    flex-direction: column;
    
}

.titleContainer {
    height: 53px;
    padding: 0 var(--spacing);
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--lightGrey);
    flex-shrink: 0;
}

.titleContainer h1 {
    flex: 1;
}

#logo{
    height:50px;
    width:80px;
}

.postFormContainer{
    display: flex;
    padding:var(--spacing);
    border-bottom: 4px solid var(--lightGrey);
    flex-shrink: 0;
}

.userImageContainer{
    width:50px;
    height:50px;
}

.userImageContainer img{
    width:100%;
    border-radius: 50%;
    background-color: white;
}

.textareaContainer{
    flex:1;
    padding-left: var(--spacing);
}

.textareaContainer textarea{
    width: 100%;
    border: none;
    resize: none;
    font-size: 15px;
}

#submitPostButton{
    background-color: var(--red);
    color:white;
    border: 1px solid var(--red);
    border-radius: 10px;
    width: 60px;
    float: right;
    margin-right: 20px;
}

#submitPostButton:disabled{
    background-color: #ede9e9;
    color: black;
    border: none #ede9e9;

}

.post {
    display: flex;
    flex-direction: column;
    padding: var(--spacing);
    cursor: pointer;
    border-bottom: 1px solid var(--lightGrey);
    flex-shrink: 0;
}

.mainContentContainer {
    flex: 1;
    display: flex;
}

.postContentContainer {
    padding-left: var(--spacing);
    display: flex;
    flex-direction: column;
    flex: 1;
}

.username,
.date {
    color: var(--greyText)
}

.displayName {
    font-weight: bold;
}

.postFooter {
    display: flex;
    align-items: center;
}

.postFooter .postButtonContainer {
    display: flex;
    padding:10px;
}

.postFooter .postButtonContainer button {
    padding: 2px 5px;
    border: none;
}

.header a:hover {
    text-decoration: underline;
}

.header a,
.header span {
    padding-right: 5px;
}

.postButtonContainer button:hover {
    color: var(--red);
    border: none;
    border-radius: 50%;
}