@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root {
    --red: #25346c;
    --buttonHoverBg: #eeeeef;
    --lightGrey: rgb(194, 194, 194);
    --spacing: 15px;
    --greyText: rgb(85, 88, 90);
    --greyButtonText: rgba(0,0,0,0.34);
    --green:rgb(19, 184, 19);
}

html, body {
    height: 100%;
    min-height: 100%;
    background-color: #fff;
    font-weight: 300;
}

*{
outline: none !important;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
}

a:active{
    color:var(--red);
}


h1 {
    font-size: 16px;
    font-weight: 800;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color:var(--red);
    height: 100%;
    padding-top: 50px;
}

.navPage {
    padding: 10px;
    font-size: 30px;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--red);
    position: relative;
}
.navPage.red {
    color: var(--red);
}

.postBody{
    font-weight: 400;
}

.postLink{
    color:#017aeb;
}
.navPage:hover {
    background-color: var(--buttonHoverBg);
    color: black;
    border-radius: 50%;
}

.navText{
    padding-left: 10px;
    padding-top: 5px;
}

.wrapper {
    
    flex-direction: column;
    height: 100%;
}

.wrapper > .row {
    margin: 0;
    height: 100%;
}


button{
    background-color: transparent;
    border: none;
    color:black;
}

button i,
button span{
    pointer-events: none;
}

.mainSectionContainer {
    border-left: 1px solid var(--lightGrey);
    border-right: 1px solid var(--lightGrey);
    border-top: 1px solid var(--lightGrey);
    border-radius: 10px;
    padding: 0;
   
    display: flex;
   
    flex-direction: column;
}

.titleContainer {
    height: 53px;
    padding: 0 var(--spacing);
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--lightGrey);
    flex-shrink: 0;
}

.titleContainer h1 {
    flex: 1;
}

.logo{
    height:50px;
    width:60px;
    float: left;
    margin-top: 10px;
}

.postFormContainer{
    display: flex;
    padding:var(--spacing);
    border-bottom: 2px solid var(--lightGrey);
    flex-shrink: 0;
}

.modal .postFormContainer {
    border: none;
    padding: 0;
    padding-top: var(--spacing);
}

.modal .post {
    padding: 0 0 var(--spacing) 0;
}

.userImageContainer{
    width:50px;
    height:50px;
}

.userImageContainer img{
    width:100%;
    border-radius: 50%;
    background-color: white;
}

.textareaContainer{
    flex:1;
    padding-left: var(--spacing);
}

.textareaContainer textarea{
    width: 100%;
    border: none;
    resize: none;
    font-size: 15px;
}

#submitPostButton{
    background-color: var(--red);
    color:white;
    border: 1px solid var(--red);
    border-radius: 10px;
    width: 80px;
    float: right;
    margin-right: 20px;
}

#submitPostButton:disabled{
    background-color: #ede9e9;
    color: black;
    border: none #ede9e9;
}

.post {
    display: flex;
    flex-direction: column;
    padding: var(--spacing);
    cursor: pointer;
    border-bottom: 1px solid var(--lightGrey);
    flex-shrink: 0;
}

.mainContentContainer {
    flex: 1;
    display: flex;
    overflow-y: hidden;
}

.postContentContainer {
    padding-left: var(--spacing);
    display: flex;
    flex-direction: column;
    flex: 1;
}

.username,
.date {
    color: var(--greyText);
    font-size: 16px;
    font-weight: 400;
}

.displayName {
    font-weight: 600;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

.postFooter {
    display: flex;
    align-items: center;
}

.postFooter .postButtonContainer {
    display: flex;
    padding:10px;
}

.postFooter .postButtonContainer button {
    padding: 2px 5px;
    border: none;
}

.header a:hover {
    text-decoration: underline;
}

.header a,
.header span {
    padding-right: 5px;
}

.postButtonContainer button:hover {
    color: var(--red);
    border: none;
    border-radius: 50%;
}

.postButtonContainer.red button.active {
    color: rgb(203, 16, 16);
}

.postButtonContainer.red button:hover {
    color: rgb(203, 16, 16);
}

.postButtonContainer.green button.active {
    color: var(--green);
}

.postButtonContainer.green button:hover {
    color: var(--green);
}

.postActionContainer {
    padding-left: 35px;
    font-size: 13px;
    color: rgb(5, 150, 5);
    font-weight: 500;
    margin-bottom: 5px;
}

.replyFlag {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 400;
}

.replyFlag a {
    color: rgb(13, 143, 242);
    font-weight: 500;
}

.post.largeFont .postBody,
.post.largeFont .postFooter {
    font-size: 20px;
}

.postContentContainer .header {
    display: flex;
}

.postContentContainer .header .date {
    flex: 1;
}

.errorMessage {
    padding: var(--spacing);
}

.coverPhotoSection {
    height: 180px;
    background-color: #ede9e9;
    position: relative;
}

.profileHeaderContainer .userImageContainer {
    width: 132px;
    height: 132px;
    margin-left: var(--spacing);
    position: absolute;
    bottom: -66px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.profileHeaderContainer .userImageContainer img {
    border: 4px solid #fff;
}

.profileHeaderContainer .profileButtonsContainer {
    text-align: right;
    padding: var(--spacing);
    min-height: 66px;
}

.profileButton,
.followButton {
    border: 1px solid rgb(100, 96, 96);
    color: rgb(100, 96, 96);
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 60px;
    display: inline-block;
    margin-left: var(--spacing);
}

.profileButton:hover,
.followButton:hover {
    background-color: black;
    color: white;
    border-color: var(--red);
}

.followButton.following {
    background-color: var(--red);
    color: #fff;
}

.profileHeaderContainer .userDetailsContainer {
    display: flex;
    flex-direction: column;
    padding: 0 var(--spacing);
}

.followersContainer .value {
    font-weight: bold;
    margin-right: 5px;
}

.followersContainer span:not(.value) {
    color: var(--greyText);
}

.followersContainer a {
    margin-right: 15px;
}

.followersContainer a:hover {
    border-bottom: 1px solid var(--red);
}

.tabsContainer {
    display: flex;
    border-bottom: 1px solid var(--lightGrey);
    flex-shrink: 0;
    padding-top: 10px;
}

.tab {
    flex: 1;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--greyText);
    font-weight: bold;
}

.tab.active {
    color: var(--red);
    border-bottom: 4px solid gray;
}

.tab:hover {
    color: var(--red);
    background-color: #ede9e9;
}

.noResults {
    padding: var(--spacing);
}

.resultsContainer {
    display: flex;
    flex-direction: column;
}

.resultsContainer .user {
    padding: var(--spacing);
    display: flex;
    border-bottom: 1px solid var(--lightGrey);
}

.user .userDetailsContainer {
    flex: 1;
    padding: 0 var(--spacing)
}

.profilePictureButton {
    position: absolute;
    font-size: 50px;
    color: rgba(0,0,0,0.6);
    display: none;
}

.userImageContainer:hover .profilePictureButton {
    display: block;
}

#imagePreview,
#coverPreview {
    width: 100%;
    display: block;
 
    
    max-width: 100%;
}

.profilePictureButton,
.coverPhotoButton {
    position: absolute;
    font-size: 50px;
    color: rgba(0,0,0,0.6);
    display: none;
}

.userImageContainer:hover .profilePictureButton,
.coverPhotoSection:hover .coverPhotoButton {
    display: block;
}

.coverPhotoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.coverPhotoContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pinButton.active {
    color: #2f8be1;
}

.pinnedPostText {
    font-size: 12px;
    color: var(--greyText);
}

.pinnedPostContainer {
    border-bottom: 5px solid rgb(176, 180, 182);
}

.searchBarContainer {
    position: relative;
    color: var(--greyText);
    padding: 10px var(--spacing);
}

.searchBarContainer i {
    position: absolute;
    top: 20px;
    left: 28px;
}

.searchBarContainer #searchBox {
    height: 36px;
    width: 100%;
    padding: 5px 15px 5px 40px;
    border-radius: 50px;
    background-color: rgb(206, 206, 206);
    border: none;
    color: black;
}

.chatPageContainer {
    display: flex;
    flex-direction: column;
    min-height: 0;
    flex: 1;
    flex-basis: 0;
}

.chatTitleBar {
    border-bottom: 1px solid var(--lightGrey);
    display: flex;
    align-items: center;
    min-height: 60px;
    padding: 10px;
}

.chatTitleBar label {
    margin: 0 10px 0 0;
}

#userSearchTextbox {
    border: none;
    flex: 1;
    font-weight: 500;
    min-width: 350px;
}

#createChatButton {
    border: none;
    background-color: var(--red);
    color: #fff;
    padding: 7px 20px;
    margin: 10px auto;
    border-radius: 40px;
}

#createChatButton:disabled {
    background-color: var(--lightGrey);
    color: black;
}

.selectedUser {
    font-weight: 300;
    background-color: #CBE5FE;
    color: #0084ff;
    padding: 5px;
    border-radius: 3px;
    margin: 5px 5px 0 0;
    display: inline-block;
}

.resultListItem {
    padding: 7px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    border-bottom: 1px solid var(--lightGrey);
    font-size: 15px;
    font-weight: 400;
}

.resultListItem:hover {
    background-color: #F2F2F2;
}

.resultsDetailsContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.resultsDetailsContainer .heading {
    font-weight: 500;
}

.resultsDetailsContainer .subText {
    color: var(--greyText);
    font-size: 14px;
}

.resultListItem img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.resultsImageContainer {
    height: 40px;
    width: 40px;
    position: relative;
    margin-right: 10px;
    display: flex;
    align-items: center;
    padding: 5px;
}

.groupChatImage img {
    height: 65%;
    width: 65%;
    position: absolute;
    bottom: 0;
    margin: 0;
    border: 2px solid #fff;
}

.groupChatImage img:first-of-type {
    top: 0;
    right: 0;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chatTitleBarContainer {
    border-bottom: 1px solid var(--lightGrey);
    display: flex;
    align-items: center;
    padding: var(--spacing);
}

#chatName {
    width: 100%;
    font-weight: 400;
    border: 1px solid transparent;
    padding: 0 5px;
}

#chatName:hover {
    border: 1px solid var(--lightGrey);
    cursor: text;
}

.chatContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.chatContainer .footer {
    display: flex;
    padding: var(--spacing);
    flex-shrink: 0px;
}

.chatContainer .footer textarea {
    flex: 1;
    resize: none;
    background-color: rgba(0,0,0,0.05);
    border-radius: 18px;
    border: none;
    padding: 8px 12px;
    height: 45px;
}

.chatContainer .footer button {
    background-color: transparent;
    color: var(--red);
    font-size: 24px;
}

.chatMessages {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: var(--spacing);
}

.chatImagesContainer {
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    margin-right: 10px;
}

.chatImagesContainer img {
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
}

.chatImagesContainer .userCount {
    height: 40px;
    width: 40px;
    background-color: #f1f1f1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border: 2px solid #fff;
}

.chatImagesContainer img:not(:last-child),
.chatImagesContainer .userCount {
    margin-left: -10px;
}

#chatNameTextbox {
    width: 100%;
}

.chatMessages .message {
    padding-bottom: 2px;
    list-style: none;
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
}

.typingDots img,
.chatMessages .message .messageBody {
    background-color: #f1f0f0;
    padding: 6px 12px;
    border-radius: 18px;
    font-size: 14px;
    font-weight: 400;
}

.typingDots img {
    height: 35px;
}

.typingDots {
    padding: var(--spacing);
    padding-bottom: 0;
    display: none;
}

.chatMessages .message .messageContainer {
    display: flex;
    flex-direction: column;
    max-width: 55%;
}

.chatMessages .message.mine .messageContainer {
    align-items: flex-end;
}

.chatMessages .message.theirs .messageContainer {
    align-items: flex-start;
}

.chatMessages .message.mine {
    flex-direction: row-reverse;
}

.chatMessages .message.mine .messageBody {
    background-color: var(--red);
    color: #fff;
}

.chatMessages .message.mine.first .messageBody {
    border-bottom-right-radius: 2px;
}

.chatMessages .message.mine:not(.first):not(.last) .messageBody {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}

.chatMessages .message.mine.last .messageBody {
    border-bottom-right-radius: 18px;
}

.chatMessages .message.mine.last:not(.first) .messageBody {
    border-top-right-radius: 2px;
}

.chatMessages .message.theirs.first .messageBody {
    border-bottom-left-radius: 2px;
}

.chatMessages .message.theirs:not(.first):not(.last) .messageBody {
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}

.chatMessages .message.theirs.last .messageBody {
    border-bottom-left-radius: 18px;
}

.chatMessages .message.theirs.last:not(.first) .messageBody {
    border-top-left-radius: 2px;
}

.senderName {
    color: rgba(0,0,0,0.4);
}

.chatMessages .imageContainer {
    height: 24px;
    width: 24px;
    margin-right: 7px;
}

.chatMessages img {
    height: 100%;
    border-radius: 50%;
    vertical-align: bottom;
}

.chatMessages .message.last {
    margin-bottom: 7px;
}

.loadingSpinnerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.loadingSpinnerContainer img {
    width: 50%;
    max-width: 75px;
}

.resultListItem.active {
    background-color: rgb(223, 223, 223);
}

.resultListItem.notification * {
    pointer-events: none;
}

#notificationBadge,
#messagesBadge {
    background-color: var(--red);
    height: 22px;
    width: 22px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

#notificationBadge.active,
#messagesBadge.active {
    visibility: visible;
}

#notificationList {
    position: fixed;
    top: 5px;
    right: 15px;
    width: 350px;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3);
}

#notificationList .active {
    background-color: white;
}

@media screen and(min-width:435px){
    .mainSectionContainer {
        width: 100%;
    }
    
    nav {
        font-weight: 600;
        font-size: 100px;
    }
}

@media only screen and (max-device-width: 700px) and (orientation: portrait) {

	.postContentContainer .header .date {
	    flex: unset;
	}

    nav{
        margin-left:30px;
    }
}